.textblock
  Welcome 
  = @name

  %strong This application
  will collect information about your LinkedIn connections to analyze the aggregate flow of talent.

  See where you and your company fit in

  #analyze
    = link_to "Analyze", :action => "show"

#ohmystars
  = image_tag "ohmystars.gif"