.textblock
  #yay
    Oh my stars!
  
  Gathered
  = @the_shit.length
  connections

  <br/>
  <br/>
  
  We are still gathering enough data to make the analysis robust.  Thanks for being an early adopter.  Your contribution will help us find meaningful results.  Please check back for results soon!